[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
face-recognition = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
dlib = "*"
deepface = "*"
tf-keras = "*"
pydantic-settings = "*"
boto3 = "*"
python-multipart = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.12"
